.best-rated-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 110, 110);
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.best-rated-section-title {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 181, 181);
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.best-rated-section-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    gap: 14px;
    /* Adiciona espaço entre os cards */
}

@media (max-width: 1024px) {
    .best-rated-section {
        width: 100%;
    }
}